<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    {% include 'flash.html' %}
    {% if current_user.is_authenticated() %}
        <h1>Hi, {{ user.nickname }}!</h1>

        <div class="controls">
            <a class="btn" href="{{ url_for('event_list') }}">Show events</a><br />
        </div>

    {% else %}
        <h2>I don't know you!</h2>
        <p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">Login with Facebook</a></p>
    {% endif %}

{% endblock %}
